/* styles.css */
.category-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin: 0 auto;
    width: 50vw;
    position: relative;
    margin-bottom: 6rem;
}

.category-table th, .category-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.category-table th {
    background-color: white;
}

.category-table tbody tr:hover {
    background-color: #f5f5f5;
}

.Categorias{
    color: #2B4788;
}

.categoryInput input{
    width: 20dvw;
    height: 7dvh;
}

.categoryButton{
    background-color: #14337C;
    color: white;
    border: 0;
    width: 14vw;
    height: 7dvh;
    border-radius: .3rem;
    font-family: "poppins";
    font-size: .9rem;
    margin-top: -1px;
   

}

.addContainer{
    margin-top: 5rem;
    margin-bottom: .5rem;
    margin-left: 38%;

    
}

.addContainer {
  display: flex;
  flex-direction: row;

}


.buttonUpdate {
    background-color: white;
    border: 1px solid transparent; /* Tornar a borda transparente para não interferir na sombra */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10dvw;
    height: 7dvh;
    font-size: 1.1rem;
    border-radius: 5px;
    gap: 0.5rem;
    font-family: "poppins";
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adicionar a sombra na borda */
    overflow: hidden; /* Para garantir que a sombra não se espalhe para fora do botão */
  }
  

  .salvar{
    background-color: #14337C;
    color: white;
    border: 0;
    padding: .5rem;
    border-radius: .3rem;
    font-family: "poppins";
    font-size: 1rem;
   
  }

 /* Estilos para o contorno vermelho em caso de erro */
.categoryInput.error input {
    border-color: red;
  }

  .error {
    border-color: red; /* ou qualquer estilo de destaque para indicar erro */
  }
  

  .EditCategory.error input {
    border-color: red;
  }

  .error {
    border-color: red; /* ou qualquer estilo de destaque para indicar erro */
  }
  