.Model{
    margin-top: 2rem;
    margin-bottom: -3rem;   
    margin-left: 52rem;
}

.spanContainer{
    display: flex;
    gap: .4rem;
    cursor: pointer;
    margin-left: 1rem;
}

/* Modal.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 500px;
  z-index: 9999; /* ou qualquer valor que seja suficientemente alto para garantir que esteja acima de outros elementos na página */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #555;
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

.description{
  width: 16vw;
  height: 15vh;

}


.button{
  background-color: #14337C;
  color: #fefefe;
  border: medium;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 12dvw;
  font-family: "poppins";
  font-weight: 500;
  cursor: pointer;
  font-size: .9rem;

}
