.topBar{
    width: 100%;
    height: 50px;
   
    
}

.topBarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: darkblue;
}

.topIconBar{
    position: relative;
}

.topIconBag{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    left:  10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: .7rem;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: .5rem;
    color: #555;

   
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}