.admin-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
}
.admin-menu .formButtonStyle{
  background-color:#14337c;
  color: white;
  padding: .8rem;
  border: 0;
  border-radius: .5rem;
  cursor: pointer;
  font-size: .9rem;
  font-family: "urbanist";
  font-weight: 600;

  margin-left: 30rem;
  margin-bottom: -2rem;
  width: 11dvw;
}


.user-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.user-form label {
  margin-bottom: 5px;
}

.user-form input,
.user-form select {
  padding: 8px;
  margin-bottom: 10px;
}

.user-form button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 27dvw;
  align-items: center;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  padding: 20px;
}

/* Para telas menores, ajuste o layout */
@media screen and (width < 700px) {
  .modal-content{
    width: 100%;
  }

.user-form {
   width:100%;
}
}




@media screen  and (800px <= width <= 1280px){
  
  .modal-content {
    width: 35dvw;
  
  }

  .modal-form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }

  @media screen and  (800px <= width <= 1025px){
    .admin-menu .formButtonStyle{
      white-space: nowrap;
      width: 15vw;
    }
  }