.delete{
    margin-left: 1rem;
    cursor: pointer;
}

.edit{
    margin-left: 1rem;
    cursor: pointer;
}

table {
    font-family:'urbanist';
    border-collapse: collapse;
    width: 100%;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 

  .adminstrador {
    background-color: #11C7A1 !important; 
    color: white;
    font-weight: 500;

   
    

  }
  
  .funcionario {
    background-color: #F4A32D !important;
    color: white;
    font-weight: 500;
  }