.delete{
    margin-left: 1rem;
    cursor: pointer;
}

.edit{
    margin-left: 1rem;
    cursor: pointer;
}

table {
    font-family:'urbanist';
    border-collapse: collapse;
    width: 100%;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 

  .administrador {
    color: #11C7A1 !important; 
    font-size: 1.3rem;
    font-weight: 600;

   
    

  }
  
  .funcionario {
    color: #F4A32D !important;
    font-size: 1.3rem;
    font-weight: 600;
  }


  .credencial{
    color: #14337C;

  }




/* Adicione ao seu arquivo UserList.css ou ajuste conforme necessário */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo preta semi-transparente */
  z-index: 999; /* Coloque o overlay acima do modal */
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40dvh;
  width: 25dvw;
  border-radius: 5px;
  
}

.delete-modal p {
  margin-bottom: 15px;
  
}

.delete-modal button {
  margin-right: 10px;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;


}

.delete-modal button:hover {
  background-color: #0056b3;
}

.delete-modal button:last-child {
  background-color: #ccc;
  color: #333;
}

.delete-modal button:last-child:hover {
  background-color: #999;
}

.delete-modal .buttonDeleteStyle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 2rem;
  padding: 2rem;
}

/* Adicione ao seu arquivo UserList.css ou ajuste conforme necessário */

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



@media (max-width: 600px) {
  .tbody{
    margin: 0;
  }
}


