.delete{
    margin-left: 1rem;
    cursor: pointer;
}

.edit{
    margin-left: 1rem;
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .adminstrador {
    background-color: #F6B152; /* Cor de fundo para administradores */
    color: white;
  }
  
  /* Adicione estilos para funcionários */
  .funcionario {
    background-color: #11C7A1; /* Cor de fundo para funcionários */
    color: white;
  }