

  
  .info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  
  .closeBtn{
    margin-bottom: 5rem;
  }


  .container{
    display: flex;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2196f3;
  padding: 10px 50px;
}

ul li {
  list-style: none;
}

.button{
  margin-top: 5rem;
}