.container{
    display: flex;
}


/* App.css */
a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Mantém a cor original do texto */
  }
  
  a:hover {
    text-decoration: none; /* Remove o sublinhado dos links quando o mouse está sobre eles */
  }
  

  .containerLogin ul li{
    list-style-type: none;
  }

