.login{
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  text-align: center;
  padding: 1rem 0;
}

.login input{
  width: 20vmax;
  height: 2rem;
}
.login h1{
  font-size: 3rem;

}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  width: 40%;
  height: 2.5rem;
  margin: 0 auto;
}