.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .loginStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  
  .loginStyle input[type="text"],
  .loginStyle input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loginStyle button {
    width: 50%;
    background-color: #0074D9; /* Cor azul para o botão */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Adicionando uma transição suave de opacidade */
  }
  
  .loginStyle button:hover {
    opacity: 0.8; /* Reduzindo a opacidade no hover */
  }
  