.table {
    display: flex;
    flex-direction: column;
  }
  
  .h1{
    display: flex;
    gap: 1rem;
  color: #14337c;
  padding-block: .5rem;
  }

  .AdminContainer{
    flex: 3;
  }
  .AdminMenu{
    margin-top: 1rem;
  }

  .list{
    margin-left: -4rem;
  }

  .h1{
    margin-left: -4rem;
    }